.background-login {
    min-height: 100vh;
    background: url('../../assets/bkg3-laptop.jpg') no-repeat;
}

@media (min-width: 1900px)  {
    .background-login {
        min-height: 100vh;
        background: url('../../assets/bkg3-fullhd.jpg') no-repeat;
    }
}

.login-box {
    padding-top: 25vh;
}

.btn-login {
    width: 70px;
    height: 70px;
}