<div class="row pt-5 background-login">
    <div class="col-md-5 mx-auto login-box">
        <div class="card">
            <div class="card-header" style="text-align:center;">
                <h3 class="mb-0">Acesso ao Sistema</h3>
                <!--<pre>Env: {{env | json}}</pre>-->
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-9">
                                <div class="form-group">
                                        <label for="">Login: </label>
                                        <input [(ngModel)]="loginUserData.email" name="email" type="text" class="form-control rounded-0" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Senha: </label>
                                        <input [(ngModel)]="loginUserData.password" name="password" type="password" class="form-control rounded-0" required>
                                    </div>
                        </div>
                        <div class="col-2">
                            <div class="row  align-items-center justify-content-center">
                                <button (click)="loginUser()" type="button" class="btn btn-success btn-login"><mat-icon style="font-size: 50px; margin-left: -25px; margin-top: -25px; ">done</mat-icon></button>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-center">
                            <button (click)="recuperarSenha()" type="button" class="btn">Esqueceu sua senha? Clique aqui!</button>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</div>